html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

header{
  height: 65px; width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-left{
  float: left;
}

.header-right{
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}

.header-right:hover{
  background-color: rgba(255, 255, 255, 0.5);
}

.header-right a{
  display: block;
  line-height: 65px;
  padding: 0 25px;
  color: white;
}

.logo{
  width: 124px;
  margin-top: 20px;
}

body {
  font-family: Arial, Helvetica, sans-serif,sans-serif;
}

a{
  text-decoration: none;
}

.top-wrapper{
  padding-top: 100px; padding-bottom: 100px;
  color: white;
  background-image: url("https://prog-8.com/images/html/advanced/top.png");
  background-size: cover;
  text-align: center;
}

.top-wrapper h1{
  font-size: 45px;
  opacity: 0.7;
  letter-spacing: 5px;
}

.container{
  width: auto;
  padding: 0 15px;
  margin: 0 auto;  
  /* background-color: blueviolet; */
}

.container p{
  opacity: 0.7;
}

.btn{
  color: white;
  opacity: 0.7;
  padding: 10px 16px;
  margin: 10px 0px;
  display: inline-block;
  border-radius: 5px;
}

.btn:hover{
  opacity: 1;
}

.btn-wrapper p{
  margin: 4px 0px;
}

.signup{
  background-color: #239b76;
}

.facebook{
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter{
  background-color: #55acee;
}

.fa{
  margin-right: 4px;
}

.lesson-wrapper{
  height: 500px;
  background-color: #f7f7f7;
  padding-bottom: 80px;
  text-align: center;
}

.heading{
  color: #5f5d60;
  padding-top: 60px;
  padding-bottom: 30px;
}

.heading h2{
  font-weight: normal;
}

.lesson{
  float: left;
  width: 25%;
}

.lesson-icon{
  position: relative;
}

.lesson-icon p{
  position: absolute;
  top: 90px;
  /* left: 50px; */
  width: 100%;
  color: white;
}

.text-contents{
  display: inline-block;
  width: 80%;
  font-size: 12px;
  color: #b3aeb5;
  margin-top: 20px;
}

.message-wrapper{
  text-align: center;
  padding-bottom: 80px;
  border-bottom: 1px solid #eee;
}

.message{
  background-color: #5dca88;
  padding: 15px 45px;
  box-shadow: 0 7px #1a7940;
  cursor: pointer;
}

.message:active{
  position: relative;
  top: 7px;
  box-shadow: none;
}

.heading h3{
  font-weight: normal;
}

footer img{
  width: 125px;
}

footer p{
  font-size: 12px;
  color: #b3aeb5;
}

footer{
  padding-top: 30px;
}
